<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" href="/"><b>MyTunes</b></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <% if(currentUser && currentUser.profilePicUrl){ %> <span><img src="<%= currentUser.profilePicUrl %>"
                        class="img-fluid rounded-circle" id="profile-pic-navbar" alt="Profile Picture"></span>
                <% } else { %>
                    <span class="navbar-toggler-icon"></span>
                    <% } %>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link fw-bold text-info" href="/">Home</a>
                <a class="nav-link fw-bold text-info" href="/search">Search <svg xmlns="http://www.w3.org/2000/svg"
                        width="14" height="14" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                        <path
                            d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                    </svg></a>
            </div>
            <div class="navbar-nav ms-auto">
                <% if(!currentUser) {%>
                    <a class="nav-link fw-bold" href="/login">Login</a>
                    <a class="nav-link fw-bold" href="/register">Sign Up</a>
                    <% } else {%>
                        <div class="dropdown">
                            <% if(currentUser.profilePicUrl) { %>
                                <button class=" btn btn-primary dropdown-toggle" id="nav-dropdown-btn" type="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    <img src="<%= currentUser.profilePicUrl %>" class="img-fluid rounded-circle"
                                        id="profile-pic-navbar" alt="Profile Picture">
                                </button>
                                <ul class="dropdown-menu dropdown-menu-end text-center">
                                    <li>
                                        <%= currentUser.profileName %>
                                    </li>
                                    <li><a class="dropdown-item fw-bold"
                                            href="/user/<%= currentUser.dbID %>">Profile</a>
                                    </li>
                                    <li><a class="dropdown-item fw-bold" href="/logout">Logout</a></li>
                                </ul>
                                <% } else { %>
                                    <button class="btn btn-secondary dropdown-toggle" type="button"
                                        data-bs-toggle="dropdown" aria-expanded="false">
                                        <%= currentUser.profileName %>
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-end text-center">
                                        <li><a class="dropdown-item fw-bold"
                                                href="/user/<%= currentUser.dbID %>">Profile</a>
                                        </li>
                                        <li><a class="dropdown-item fw-bold" href="/logout">Logout</a></li>
                                    </ul>
                                    <% } %>
                        </div>
                        <% } %>
            </div>
        </div>
    </div>
</nav>