<% layout('layouts/boilerplate') %>
    <title>MyTunes</title>
    <% if(!currentUser){ %>
        <div class="text-center">
            <h1 class="home-link"><a href="/login">Sign In</a></h1>
            <h4 class="home-link">Don't have an account yet? <a href="/register"> Sign Up</a></h2>
        </div>
        <% } else { %>
            <% if(hasContent) { %>
                <h1>Recommended Tracks
                </h1>
                <% for(let i=0; i < 4; i++){ %>
                    <div class="row text-center mb-3">
                        <% for(let j=i*4; j < (i*4)+4; j++) { %>
                            <div class="col-md-3">
                                <div class="card">
                                    <iframe style="border-radius:12px"
                                        src="https://open.spotify.com/embed/track/<%= data.tracks[j].id %>?utm_source=generator"
                                        width="100%" height="352" frameBorder="0" allowfullscreen="false"
                                        allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
                                        loading="lazy">
                                    </iframe>
                                    <!-- <a href="/song/<%= data.tracks[j].id %>" target="_blank">
                                        <img src="<%= data.tracks[j].album.images[1].url %>" class="card-img-top"
                                            alt="">
                                    </a> -->
                                    <div class="card-body">
                                        <h6 class="card-title">
                                            <a href="/song/<%= data.tracks[j].id %>" target="_blank">
                                                <%= data.tracks[j].name %>
                                            </a> by <a href="/artist/<%= data.tracks[j].artists[0].id %>"
                                                target="_blank">
                                                <%= data.tracks[j].artists[0].name %>
                                            </a>
                                        </h6>
                                    </div>
                                </div>
                            </div>
                            <% } %>
                    </div>
                    <% } %>
                        <nav class="w-25 text-center mx-auto" aria-label="Page navigation">
                            <ul class="pagination pagination-lg">
                                <% if(currentPage===1 ){ %>
                                    <li class="page-item disabled" tabindex="-1">
                                        <a class="page-link" aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                        </a>
                                    </li>
                                    <% } else { %>
                                        <li class="page-item">
                                            <a class="page-link" href="/page/<%= currentPage-1 %>"
                                                aria-label="Previous">
                                                <span aria-hidden="true">&laquo;</span>
                                            </a>
                                        </li>
                                        <% } %>
                                            <li class="page-item<%= currentPage === 1 ? ' active' : '' %>"><a
                                                    class="page-link" href="/page/1">1</a></li>
                                            <li class="page-item<%= currentPage === 2 ? ' active' : '' %>"><a
                                                    class="page-link" href="/page/2">2</a></li>
                                            <li class="page-item<%= currentPage === 3 ? ' active' : '' %>"><a
                                                    class="page-link" href="/page/3">3</a></li>
                                            <li class="page-item<%= currentPage === 4 ? ' active' : '' %>"><a
                                                    class="page-link" href="/page/4">4</a></li>
                                            <li class="page-item<%= currentPage === 5 ? ' active' : '' %>"><a
                                                    class="page-link" href="/page/5">5</a></li>
                                            <% if(currentPage===5 ){ %>
                                                <li class="page-item disabled" tabindex="-1">
                                                    <a class="page-link" aria-label="Next">
                                                        <span aria-hidden="true">&raquo;</span>
                                                    </a>
                                                </li>
                                                <% } else { %>
                                                    <li class="page-item">
                                                        <a class="page-link" href="/page/<%= currentPage+1 %>"
                                                            aria-label="Next">
                                                            <span aria-hidden="true">&raquo;</span>
                                                        </a>
                                                    </li>
                                                    <% } %>
                            </ul>
                        </nav>
                        <% } else { %>
                            <div>
                                <h2 class="text-center home-link">You don't have any Tunes right now.
                                    <div>
                                        <a href="/search">Search for Music</a>
                                    </div>
                                </h2>
                            </div>
                            <% } %>
                                <% } %>